<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/students.css">
    <link rel="stylesheet" type="text/css" href="/css/students-res.css">
</head>

    <body>
        <div class="student-full-size">
            <div class="student-full-size-img">
                <div class="student-full-size-img-border">
                    
                    <img src=<%= img %> alt="Opis slike" class="slika">
                </div> 
            </div>
            <div class="student-full-size-text">
              <h1><%= student[0].title %></h1>
              <h4><%= student[0].title %></h4>
              <p class="tekst">
                <%= student[0].text %>
      
              </p>
    
            </div>
            
        </div>

    </body>

</html>