<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/students.css">
    <link rel="stylesheet" type="text/css" href="/css/students-res.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/index-res.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <div id="hamburger">
                <span id="line1" class="line"></span>
                <span id="line2" class="line"></span>
                <span id="line3" class="line"></span>
            </div>
            <ul id="nav-ul" class="center-y-axis">
                <li>
                    <div id="div-hero">
                        <a href="/index.html" id="Zaduzbina" class="nav-a">Задужбина</a> <i id="arrow-hero" class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                    
                    <ul id="nav-ul1">
                        <li><a href="/index.html#upravni-odbor" id="uo-nav" class="nav-a">Uprava</a></li>
                        <li><a href="/index.html#about" class="nav-a">Istorijat</a></li>
                    </ul>
                </li>
                <li><a href="/sima.html" class="nav-a">Сима Игуманов</a></li>
                <li><a href="/pages/news" class="nav-a">Vesti</a></li>
                <li><a href="/pages/students" class="nav-a">Stipendisti</a></li>
                <li><a href="#" class="nav-a">Donacije</a></li>
                <li><a href="#contact" class="nav-a">Контакт</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <h1 class="content-h1">Стипендисти</h1>
            <div class="students-conteiner">
                <% if( advertisements.length > 0 ){ %>
                    <% for(let i=0; i<advertisements.length; i++){ %>
                        <% let formatiranTekst = advertisements[i].text.replace(/%20/g, ' ').replace(/%0A/g, '\n'); %>
                        <% formatiranTekst  = formatiranTekst.replace(/\\n/g, '\n')%>
                        <%- include("student", {name:advertisements[i].title, subTitle:advertisements[i].title, description:formatiranTekst, img:"/pictures/upload/" + advertisements[i].img, id:advertisements[i]._id, href:"/pages/students/" + advertisements[i]._id}) %>
                        <% if(i != advertisements.length-1){ %>
                            <div class="student-border-bottom">
                                <img src="/pictures/png/sara-01.png">
                            </div>
                        <% } %>
                    <% } %>
                        
                    
                <% } %>

            </div>
        </div>
    </main>
    <div id="contact">
            
        <div id="kontakt" class="center-y-axis">
            <div>
            <i class="fa fa-phone" aria-hidden="true"></i> 
            <p>011 3233 182</p>
            </div>
            <div>
            <i class="fa fa-map-marker" aria-hidden="true"></i>
            <p>Trg Nikole Pašića 2</p>
            <p><tab></tab>11000 BEOGRAD</p>
            </div>
            <div>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>djoka.djokic@gmail.com</p>
            </div>
            <div>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <p>djoka.djokic@gmail.com</p>
            </div>
        </div>
        <div id="mapa-border" class="center-y-axis">
            <div id="mapa">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d353.80747010830237!2d20.461903875485735!3d44.81219745883513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7aae44afffff%3A0x14702a33050a124c!2sZadu%C5%BEbina%20Sime%20Igumanova!5e0!3m2!1ssr!2srs!4v1664294742132!5m2!1ssr!2srs"   referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div id="mapa-preko"></div>
        </div>
    </div>
    </body>
</html>