body{
    background-color: rgb(243, 233, 219);
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.advertisement{
    position: relative;
    width: 940px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 25px;
    box-shadow: 5px 5px 15px rgb(77, 21, 21), -2px -2px 15px rgb(197, 174, 174);
}
.advertisement-a{
    position: absolute;
    width: 900px;
    /* height: 90%; */
}
.advertisement:hover{
    box-shadow: inset -2px -2px 15px rgb(77, 21, 21), inset 5px 5px 15px rgb(197, 174, 174);
    transition: 1.1s all;
}
.advertisement-border1{
    /* border: 2px solid rgb(77, 21, 21); */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("../pictures/g3398.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}
.advertisement-border2{
    /* border-top: 2px solid rgb(77, 21, 21);
    border-bottom: 2px solid rgb(77, 21, 21); */
    width: 100%;
    height: 100%;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 60px;
}
.advertisement-img{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* display: flex; */
}
.advertisement-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.advertisement-text{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 30px;
    color: rgb(77, 21, 21);
    /* overflow: hidden; */
}
.advertisement-text h2{
    font-size: 48px;
    margin: 0;
    text-align: justify;
}
.advertisement-text h5{
    font-size: 22px;
    margin: 0;
    text-align: center;
}
.advertisement-text p{
    margin: 0;
    text-align: justify;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;

}

.advertisement-full-size{
    width: 684px;
    height: 900px;
    background-color: white;
    box-sizing: border-box;
    padding: 25px;
}
.advertisement-full-size-border1{
    /* border: 2px solid rgb(77, 21, 21); */
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-image: url("../pictures/path281.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    padding: 40px;

}
.advertisement-full-size-border2{
    /* border-top: 2px solid rgb(77, 21, 21);
    border-bottom: 2px solid rgb(77, 21, 21); */
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(77, 21, 21);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.advertisement-full-size-border2 h1{

}
.advertisement-full-size-border1 p{
 font-size: 15px;
 text-align: justify;
 max-height: 70%;
 overflow: hidden;
}
.compete-btn{
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 30px;
    border: 1px solid #8F9092;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: rgb(77, 21, 21);
    text-shadow: 0 1px #fff;

}
.compete-btn:hover{
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;

}

.student{
    width: 950px;
    height: 420px;
    display: flex;
    box-sizing: border-box;
    padding: 20px;
}
.student-img{
    width: 35%;
    box-sizing: border-box;
    /* padding: 20px; */
}
.student-img-border1{
    /* border: 2px solid rgb(77, 21, 21); */
    width: 300px;
    height: 402px;
    padding: 20px;
    box-sizing: border-box;
    background-image: url("../pictures/path281.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.student-img img{
    width: 100%;
    max-height: 100%;
}
.student-text{
    position: relative;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding: 0 50px;
    color: rgb(77, 21, 21);
}
.student-text h4{
    margin: 0;
    font-size: 24px;
}
.student-text h6{
    margin: 0;
    font-size: 18px;

}
.student-text p{
    overflow: hidden;
    text-align: justify;
    /* padding: 10px 0; */
    margin: 10px 0;
    max-height: 250px;
}
.student-btn{
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.student-full-size {
    width: 60%;
    margin: 20px auto;
    height: 100vh;
    box-sizing: border-box;
    padding: 100px 0 0 0;

  }
.student-full-size-img{
    width: fit-content;
    height: fit-content;
}
.student-full-size-img-border{
    background-image: url("../pictures/path281.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
    padding: 10px;
    width: 300px;
    height: 402px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    margin-bottom: 100px;
}
  
  .student-full-size-img-border img{
    width: 100%;
    max-height: 100%;
  }
.student-full-size-text{
    color: rgb(77, 21, 21);
}
.student-full-size-text h1{
    text-align: center;
    margin: 0 0 0 390px;
}
.student-full-size-text h4{
    margin: 10px 0 40px 390px;
    text-align: center;
}
.student-full-size-text p{
    text-align: justify;
}


.registration{
    width: 60%;
    height: fit-content;
    border: 1px solid black;
    padding: 50px 100px 200px 100px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
}

.registration h1{
    font-size: 20px;
    margin: 20px 0;
    color: rgb(77, 21, 21);
}
.registration-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.input-container {
    position: relative;
    margin: 1px auto;
    width: 100%;
  }
  
  .input-container input[type="text"] {
    font-size: 20px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
  }
  
  .input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: #aaa;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input-container input[type="text"]:focus ~ .label,
  .input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: rgb(77, 21, 21);
  }
  
  .input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(77, 21, 21);
    transform: scaleX(0);
    transition: all 0.3s ease;
  }
  
  .input-container input[type="text"]:focus ~ .underline,
  .input-container input[type="text"]:valid ~ .underline {
    transform: scaleX(1);
  }
  .registration-two-inputs-inline{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
  }
  .registration-two-inputs-inline .input-container{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .gray{
    color: #aaa;
  }
  .registration-number-input{
    width: 50px;
  }
  #members-ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
    width: 100%;
  }
  .members-li{
    /* display: flex; */
    text-decoration: none;
    width: 95%;
    margin: auto;
  }
  .money-input{
    width: 150px !important; 
  }
  .line{
    border-bottom: 1px solid #aaa;
  }
  .add-button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #34974d;
    background-color: #3aa856;
    border-radius: 7px;
    padding: 0 4px 0 0;
  }
  
  .add-button, .add-button__icon, .add-button__text {
    transition: all 0.3s;
  }
  
  .add-button .add-button__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .add-button .add-button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    /* background-color: #34974d; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
  }
  
  .add-button .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .add-button:hover {
    background: #34974d;
  }
  
  .add-button:hover .button__text {
    color: transparent;
  }
  
  .add-button:hover .add-button__icon {
    width: 148px;
    transform: translateX(0);
    background: #34974d;
  }
  
  .add-button:active .add-button__icon {
    background-color: #2e8644;
  }
  
  .add-button:active {
    border: 1px solid #2e8644;
  }
  #Pdf-files-shown{
    max-width: 800px;
    height: fit-content;
    display: flex;
    gap: 20px;
    justify-content: center;
    overflow-x: auto;
  }
  #Pdf-file-shown img{
    width: 50px;
  }
  #Pdf-file-shown{
    text-align: center;
    font-size: 12px;
  }
  .registration-remark{
    font-size: 18px;
    color: rgb(77, 21, 21);
  }