@media (max-width: 1700px){
    #title{
        width: 850px;
        height: 400px;
        padding: 0 80px;
    }
    #title h1{
        font-size: calc(2vw + 22px);
        letter-spacing: 15px;
    }
    #sima{
        height: 430px;
    }
}
@media (max-width: 1500px){
    #upravni-odbor-2-red{
        gap: 80px;
    }

}
@media (max-width: 1440px){
    #hero{
        height: 100vh;
        min-height: 750px;
        background-position: -180px;
    }
    #title{
        width: calc(50% + 130px);
        height: 300px;
        padding: 0 60px;
    }
    #title h1{
        font-size: calc(2.6vw + 12px);
        letter-spacing: 14px;
    }
    #sima{
        height: 330px;
        right: -125px;
    }
    #konkursi{
        gap: 25px;
        height: 55%;
    }
    .konkurs{
        width: 310px;
    }   
    .konkurs-sadrzaj{
        height: 85%;
        width: 90%;
    }
    .konkrs-picture{
        width: 80%;
    }
    .konkurs-text{
        width: 85%;
    }
    .konkurs-text p{
        padding: 0 7%;
    }
    #upravni-odbor-2-red{
        gap: 20px;
    }
    .clan-uo-border{
        width: 210px;
        height: 300px;
        top: 5%;
    }
    .clan-uo-opis{
        left: 5%;
        top: -85%;
    }
    #clan2-uo-opis, #clan4-uo-opis{
        left: -55%;
    }
    #about-text{
        width: 900px;
    }
    #about-pictures{
        width: 100%;
    }
    #ap1, #ap2{
        justify-content: center;
        gap: 30px;
    }
    .a-picture{
        height: 100%;
        width: 300px;
    }
    #about-pictures-enlarged-img{
        height: 75%;
    }
    #x{
        top: 12.5%;
        right: 4px;
    }
    #mapa-border{
        height: 300px;
        width: 450px;
    }
}
@media (max-width: 1024px){
    nav ul li a{
        width: 125px;
        /* padding: 0 10px; */
        font-size: calc(.6vw + 8.5px);
    }
    #hero{
        height: 100vh;
        min-height: 600px;
        background-position: -370px;
    }
    #title{
        width: calc(40% + 100px);
        height: 250px;
        padding: 0 60px;
    }
    #title h1{
        font-size: calc(2.8vw + 14px);
        letter-spacing: 12px;
        line-height: calc(2vw + 35px);
    }
    #sima{
        height: 280px;
        right: -115px;
    }
    #news{
        height: 80vh;
        min-height: 800px;
    }
    #konkursi{
        gap: 10px;
        height: 55%;
    }
    #konkursi-naslov{
        right: 70%;
    }
    .konkurs{
        width: 235px;
    }   
    .konkurs-sadrzaj{
        height: 85%;
        width: 90%;
    }
    .konkrs-picture{
        width: 80%;
    }
    .konkurs-text{
        width: 95%;
    }
    .konkurs-text p{
        padding: 0 5%;
    }
    
    #upravni-odbor{
        height: 100vh;
        min-height: 950px;
    }
    #patrijarh-border{
        width: 220px;
        height: 280px;
        top: 10%;
    }
    #patrijarh-ime{
        font-size: calc(1vw + 12px);
        top: 60px;
    }
    #patrijarh-opis{
        width: 250px;
        height: 300px;
        top: -20px;
        left: -15px;
        padding: 5px;
    }
    #patrijarh-opis h2{
        font-size: 21px;
    }
    #patrijarh-opis p{
        font-size: 16.5px;
    }
    #upravni-odbor-2-red{
        gap: 10px;
    }
    .clan-uo-border{
        width: 160px;
        height: 200px;
        top: 15%;
    }
    .clan-uo-opis{
        left: 5%;
        top: -85%;
        font-size: 14px;
        padding: 3% 15% 8% 15%;
    }
    .clan-uo-opis h2{
        text-align: center;
        padding: 5% 0;
        font-size: 20px;
    }
    #clan2-uo-opis, #clan4-uo-opis{
        left: -55%;
    }
    .clan-ime{
        font-size: calc(.8vw + 9px);
    }
    #about-text{
        width: 700px;
    }
    #about{
        font-family: MYRIADPRO-REGULAR;
        width: 100%;
        height: 80vh;
        min-height: 720px;
    }
    #ap1, #ap2{
        justify-content: center;
        gap: 15px;
    }
    .a-picture{
        width: 230px;
    }
    #mapa-border{
        height: 250px;
        width: 370px;
    }
}
@media (min-width: 951px){
    #nav-ul{
        display: flex !important;
    }
    #nav-ul1{
        display: block !important;
    }
}
@media (max-width: 950px){
    #hamburger{
        display: block;
        color: black;
    }
    nav{
        
    }
    #nav-ul{
        display: none;
        width: 100%;
        flex-direction: column;
        right: 0;
        top: 100px;
        transform: translateY(0);
        background-color: inherit;
        background-image: linear-gradient(to right, rgba(245, 243, 245, 0.1), rgba(245, 243, 245, 0.1));
        padding: 20px 0;
        left: 0;
        top: 0;
        height: 390px;
        /* margin-top: 60px; */
        background-color: rgb(61, 19, 19);
        justify-content: center;
        gap: 90px;
    }
    #nav-ul i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
    }
    #nav-ul li{
        display: block;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    #nav-ul li a{  
        font-size: calc(1vw + 11px) !important;
    }
    #nav-ul li:nth-child(2) a{
        width: 200px;
    }
    #div-hero{
          display: flex;  
          height: 100%;
          gap: 10px;
          margin-left: 40px;
    }
    #nav-ul1{
        position: absolute;
        top: 30px;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        flex-direction: column !important;
        /* align-items: center; */
        justify-content: center;
        /* height: 150px; */
        /* transition: display 1.5s ease !important; */
    }
    #nav-ul1 li {  
        position: relative;
        display: flex;
        height: 30px;
        /* padding: 2px 0 8px 0; */
    }
    #nav-ul1 li a{  
        font-size: calc(1vw + 8px) !important;
        width: 165px;
        height: 100%;
        padding: 0;
    }
}
@media (max-width: 768px){
    
    .hidden{
        visibility: hidden !important;
        opacity: 0 !important;
    }
    .visible{
        visibility: visible !important;
        opacity: 1 !important;
    }
    #hero{
        height: 100vh;
        min-height: 800px;
        background-position: center;
        /* background-size: 150%; */
        background-image: url(/./pictures/backgrounds/poz-relefon.jpg) ;
    }
    #title{
        /* display: flex; */
        /* flex-direction: column-reverse; */
        top: 200px;
        width: 80%;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
    }
    #title h1{
        font-size: calc(2.8vw + 14px);
        letter-spacing: 5px;
    }
    #sima{
        height: 350px;
        position: absolute;
        margin: 0;
        width: 300px;
        top: -350px;
        right: 50%;
        transform: translate(50%, 0);
    }
    #sima img{
        width: 100%;
        height: 100%;
        /* transform: scaleX(-1); */
        opacity: 0.8;
    }
    #news{
        min-height: 1100px;
    }
    #konkursi-naslov{
        top: 4%;
    }
    #konkursi{
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: 90%;
        bottom: 0;
    }
    .konkurs{
        height: 270px;
        width: 550px;
    }
    .konkurs-sadrzaj{
        display: flex;
    }
    .konkrs-picture{
        width: 75%;
        height: 80%;
        top: 0;
    }
    .konkurs-text{
        height: 90%;
        top: 0;
        /* overflow: hidden !important; */
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .konkurs-text h2{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .konkurs-text h5{
        padding: 2% 5%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .konkurs-text p{
        padding: 0% 7%;
        /* overflow: hidden !important; */
        /* white-space: nowrap; */
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        height: 55%;
        overflow: hidden;
    }
    #upravni-odbor-strelica-levo{
        display: inline-block;
        font-size: 54px;
        position: absolute;
        left: 100px;
        top: 40%;
        color: rgb(243, 233, 219);
        cursor: pointer;
        padding: 2%;
    }
    #upravni-odbor-strelica-desno{
        color: rgb(243, 233, 219);
        display: inline-block;
        font-size: 48px;
        position: absolute;
        right: 100px;
        top: 40%;
        cursor: pointer;
        padding: 2%;
    }
    .upravni-odbor-slide{
        visibility: hidden;
        opacity: 0;
    }
    #patrijarh-border{
        width: 280px;
        height: 350px;
    }
    #patrijarh-opis{
        visibility: visible;
        opacity: 1;
        width: 440px;
        height: 280px;
        top: 120%;
        padding: 15px;
        left: 50%;
        transform: translate(-50%, 0);
    }
    #patrijarh-opis h2{
        font-size: 28px;
        padding: 10px 0 40px 0;
    }
    #patrijarh-opis p{
        font-size: 20px;
    }
    #patrijarh-ime{
        display: none;
    }
    .clan-uo-border{
        position: absolute;
        top: -380px;
        width: 280px;
        height: 350px;
    }
    .clan-ime{
        display: none;
    }
    .clan-uo-opis{
        visibility: visible;
        opacity: 1;
        position: absolute;
        left: 50% !important;
        top: 120%;
        transform: translate(-50%, 0);
        width: 440px;
        height: 280px;
        padding: 15px 30px;
    }
    .clan-uo-opis h2{
        font-size: 28px;
        padding: 10px 0 40px 0;
    }
    .clan-uo-opis p{
        font-size: 20px;
        padding: 0 40px;
    }
}
@media (max-width: 600px){
    #news{
        min-height: 800px;
    }
    #konkursi-naslov{
        top: 4%;
        left: 6%;
    }
    .konkurs{
        height: 190px;
        width: 360px;
    }
    #upravni-odbor-strelica-levo{
        left: 4%;
    }
    #upravni-odbor-strelica-desno{
        right: 4%;
    }
    #patrijarh-border{
        width: 260px;
        height: 320px;
    }
    #patrijarh-opis{
        width: 330px;
        padding: 10px 10px 10px 0;
    }
    #patrijarh-opis h2{
        font-size: 22px;
        padding: 20px 0 15px 0;
    }
    #patrijarh-opis p{
        font-size: 18px;
        padding: 5px 0;
        width: 85%;
        margin: auto;
    }
    .clan-uo-opis{
        width: 330px;
        padding: 20px 0 15px 0;
    }
    .clan-uo-opis h2{
        font-size: 22px;
        padding: 20px 0 15px 0;
    }
    .clan-uo-opis p{
        font-size: 18px;
        padding: 5px 0;
        width: 90%;
        margin: auto;
    }
}